GRAMS_EVENT_ENDPOINT=http://127.0.0.1:8765/events
GRAMS_SUPERVISOR_DB_PATH=~/Library/Application Support/grams/supervisor.db
GRAMS_INBOX_BATCH_SIZE=20
GRAMS_INBOX_MAX_PENDING=10000
GRAMS_PROCESSING_LEASE_SECONDS=60
GRAMS_MAX_ATTEMPTS=3
GRAMS_LOG_LEVEL=INFO
GRAMS_LOG_COLOR=auto
